<div class="row">
    <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <ul class="nav nav-underline nav-fill mb-3" id="settings-tabs" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active"
                        id="settings-emulation-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#settings-emulation"
                        type="button"
                        role="tab"
                        aria-controls="settings-emulation"
                        aria-selected="true">{{ loc("settings-platform.emulation.title") }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="settings-core-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#settings-core"
                        type="button"
                        role="tab"
                        aria-controls="settings-core"
                        aria-selected="false">{{ loc("settings-platform.core.title") }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="settings-play-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#settings-play"
                        type="button"
                        role="tab"
                        aria-controls="settings-play"
                        aria-selected="false">{{ loc("settings-platform.play.title") }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="settings-ui-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#settings-ui"
                        type="button"
                        role="tab"
                        aria-controls="settings-ui"
                        aria-selected="false">{{ loc("settings-platform.ui.title") }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link"
                        id="settings-controls-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#settings-controls"
                        type="button"
                        role="tab"
                        aria-controls="settings-controls"
                        aria-selected="false">{{ loc("settings-platform.controls.title") }}</button>
            </li>
        </ul>
    </div>
</div>

<div class="tab-content">
    <div class="tab-pane active" id="settings-emulation" role="tabpanel" aria-labelledby="settings-emulation-tab" tabindex="0">
        {% include "platform_settings/emulation.twig" %}
    </div>
    <div class="tab-pane" id="settings-core" role="tabpanel" aria-labelledby="settings-core-tab" tabindex="1">
        {% include "platform_settings/core_options.twig" %}
    </div>
    <div class="tab-pane" id="settings-play" role="tabpanel" aria-labelledby="settings-play-tab" tabindex="2">
        {% include "platform_settings/play.twig" %}
    </div>
    <div class="tab-pane" id="settings-ui" role="tabpanel" aria-labelledby="settings-ui-tab" tabindex="3">
        {% include "platform_settings/ui.twig" %}
    </div>
    <div class="tab-pane" id="settings-controls" role="tabpanel" aria-labelledby="settings-controls-tab" tabindex="4">
        {% include "platform_settings/controls.twig" %}
    </div>
</div>

{% include "form_platform_settings_controls_modals.twig" %}
