<div class="d-inline-block dropdown">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
            type="button"
            id="game-menu-{{game.Id}}"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-three-dots"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="game-menu-{{game.Id}}" style="max-width: 250px;">
        {% if game_menu_title %}
            <p class="p-2 lead">{{ game.Name }}</p>
            <div class="dropdown-divider"></div>
        {% endif %}
        <a class="dropdown-item" href="/games/save-states/{{ game.Id }}">Save states</a>
        {% if game.OverrideEmulatorSettings %}
            <a class="dropdown-item" href="/games/emulation-settings/{{ game.Id }}">Emulation settings</a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ game.DownloadLink }}" download="{{ game.OriginalFileName }}">Download</a>
        <a class="dropdown-item" href="/games/edit/{{game.Id}}">Edit</a>
        <a class="dropdown-item" href="/games/delete/{{game.Id}}">Delete</a>
    </div>
</div>
