<div class="d-inline-block dropdown">
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
            type="button"
            id="game-menu-{{game.Id}}"
            data-bs-toggle="dropdown"
            aria-expanded="false">
        <i class="bi bi-three-dots"></i>
    </button>
    <div class="dropdown-menu" aria-labelledby="game-menu-{{game.Id}}">
        {% if game_menu_title %}
            <h6 class="dropdown-header">{{ game.Name }}</h6>
            <h6 class="dropdown-header">{{ game.PlatformName }}</h6>
            <div class="dropdown-divider"></div>
        {% endif %}
        {% if game_menu_play %}
            <a class="dropdown-item" href="/play/{{ game.Id }}">{{ loc("games.menu.play") }}</a>
            {% if game.LatestSaveState.StateFileDownloadLink %}
                <a class="dropdown-item" href="/play/{{ game.Id }}?state={{ game.LatestSaveState.Id }}">{{ loc("games.menu.continue") }}</a>
            {% endif %}
            <div class="dropdown-divider"></div>
        {% endif %}
        <a class="dropdown-item" href="/games/save-states/{{ game.Id }}">{{ loc("games.menu.save-states") }}</a>
        <a class="dropdown-item" href="/games/edit/{{game.Id}}">{{ loc("games.menu.edit") }}</a>
        {% if game.OverrideEmulatorSettings %}
            <a class="dropdown-item" href="/games/emulation-settings/{{ game.Id }}">{{ loc("games.menu.emulation-settings") }}</a>
        {% endif %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ game.DownloadLink }}" download="{{ game.OriginalFileName }}">{{ loc("games.menu.download") }}</a>
        {% if delete_with_modal %}
            <button type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#delete-{{ game.Id }}">{{ loc("games.menu.delete") }}</button>
        {% else %}
            <a class="dropdown-item" href="/games/delete/{{game.Id}}">{{ loc("games.menu.delete") }}</a>
        {% endif %}
    </div>
</div>
