<nav id="navbar" class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">

        <a class="navbar-brand title" href="/">{{ loc("brand") }}</a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbar-collapse"
                aria-controls="navbar-collapse"
                aria-expanded="false"
                aria-label="{{ loc("nav.toggle.title") }}"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/games">{{ loc("nav.games") }}</a>
                    </li>
                {% endif %}
                {% if netplay_enabled %}
                    <li class="nav-item">
                        <a class="nav-link" href="/open">{{ loc("nav.open") }}</a>
                    </li>
                {% endif %}
                {% if user %}
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">{{ loc("nav.profile") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/settings">{{ loc("nav.settings") }}</a>
                    </li>
                    {% if user.CanControlUsers() %}
                        <li class="nav-item">
                            <a class="nav-link" href="/users">{{ loc("nav.users") }}</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/version">{{ loc("nav.version") }}</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">{{ loc("nav.logout") }}</a>
                    </li>
                {% endif %}
            </ul>
            <div class="navbar-text">
                {% if user %}
                    <span>{{ user.Login }}</span>
                {% endif %}
            </div>
        </div>
    </div>
</nav>

{% include "header_decoration.twig" %}
