{# used, total #}

{% if total != 0 %}
    {% if used >= total %}
        <span class="text-danger">
        {{ used / 1024 / 1024 }} / {{ total / 1024 / 1024 }} {{ loc("quota.mb") }}
    </span>
        {% elif 0.9 * total <= used %}
        <span class="text-warning">
        {{ used / 1024 / 1024 }} / {{ total / 1024 / 1024 }} {{ loc("quota.mb") }}
    </span>
    {% else %}
        <span>
        {{ used / 1024 / 1024 }} / {{ total / 1024 / 1024 }} {{ loc("quota.mb") }}
    </span>
    {% endif %}
{% else %}
    <span class="text-success">{{ loc("quota.unlimited") }}</span>
{% endif %}
