<div class="row">
    <div class="offset-md-2 col-md-8 offset-lg-3 col-lg-6">
        <div class="form-floating mb-3">
            <select id="core" name="core" class="form-select">
                {% for core in cores %}
                    <option value="{{ core }}" {% if core == settings.Core %}selected{% endif %}>{{ core }}</option>
                {% endfor %}
            </select>
            <label for="core">{{ loc("settings-platform.emulation.core.label") }}</label>
        </div>
        <div class="form-floating mb-3">
            <select id="bios" name="bios" class="form-select">
                <option value="" {% if settings.Bios == '' %}selected{% endif %}>{{ loc("settings-platform.emulation.bios.undefined") }}</option>
                {% for bios in bioses %}
                    <option value="{{ bios.Name }}" {% if bios.Name == settings.Bios %}selected{% endif %}>{{ bios.Description }} ({{ bios.Name }})</option>
                {% endfor %}
            </select>
            <label for="bios">{{ loc("settings-platform.emulation.bios.label") }}</label>
        </div>
        <div class="form-floating mb-3">
            <input type="number" id="cache-limit" name="cache-limit" class="form-control" value="{{ settings.CacheLimit }}" placeholder="1000000">
            <label for="cache-limit">{{ loc("settings-platform.emulation.cache-limit.label") }}</label>
        </div>
        <div class="form-check form-switch">
            <input type="checkbox" id="threads" name="threads" class="form-check-input" value="1" {% if settings.Threads %}checked{% endif %}>
            <label for="threads">{{ loc("settings-platform.emulation.threads.label") }}</label>
        </div>
        <div class="form-check form-switch">
            <input type="checkbox" id="disable-vsync" name="disable-vsync" class="form-check-input" value="1" {% if settings.DisableVSync %}checked{% endif %}>
            <label for="disable-vsync">{{ loc("settings-platform.emulation.disable-vsync.label") }}</label>
        </div>
        <div class="form-check form-switch">
            <input type="checkbox" id="disable-browser-db" name="disable-browser-db" class="form-check-input" value="1" {% if settings.DisableBrowserDB %}checked{% endif %}>
            <label for="disable-browser-db">{{ loc("settings-platform.emulation.disable-browser-db.label") }}</label>
        </div>
        <div class="mb-3">
            <div class="form-check form-switch">
                <input type="checkbox" id="cue-enabled" name="cue-enabled" class="form-check-input" value="1" {% if settings.CueEnabled %}checked{% endif %}>
                <label for="cue-enabled">{{ loc("settings-platform.emulation.cue-enabled.label") }}</label>
            </div>
        </div>
    </div>
</div>
