{% extends "layouts/layout.twig" %}

{% block title %}
    {{ loc("error.title") }} - {{ loc("brand") }}
{% endblock %}

{% block content %}
    <h1>{{ loc("error.header", error.Code) }}</h1>
    <p>
        {% if error.Message %}
            {{ error.Message }}
        {% else %}
            {{ error.Error() }}
        {% endif %}
    </p>
{% endblock %}
