{% extends "layouts/layout.twig" %}

{% block title %}
    {{ loc("game.delete.title")}} - {{ loc("brand") }}
{% endblock %}

{% block content %}

    <h1>{{ loc("game.delete.header") }}</h1>
    <hr>

    <p class="lead">
        {{ loc("game.delete.confirmation", game.Name) }}
    </p>
    <hr>

    <form action="/games/delete/{{ game.Id }}" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
        <div class="text-end mb-3">
            <button type="submit" class="btn btn-danger">{{ loc("game.delete.submit") }}</button>
        </div>
    </form>

{% endblock %}
