{% extends "layouts/layout.twig" %}

{% block title %}
    Games - playtime
{% endblock %}

{% block assets %}
    <script src="/assets/games-upload.js"></script>
    <script src="/assets/games-search.js" type="module"></script>
{% endblock %}

{% block content %}
    <h1>Games</h1>
    <hr>

    {% if games %}
        <div class="mb-5 d-flex">
            <button id="btn-upload" type="button" class="btn btn-outline-success me-3" style="min-width: 120px">
                <i class="bi bi-plus-circle"></i> Upload
            </button>
            <div class="input-group me-3">
                <span class="input-group-text" title="Tags">
                    <i class="bi bi-tag"></i>
                </span>
                <select class="form-control d-none" id="games-tags" aria-label="Tags" multiple data-allow-clear="true" data-badge-style="secondary">
                    {% for platform in platforms %}
                        <option value="{{ platform.Name }}">{{ platform.Name }}</option>
                    {% endfor %}
                    {% for tag in tags %}
                        <option value="{{ tag }}">{{ tag }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-group">
                <span class="input-group-text" title="Filter">
                    <i class="bi bi-search"></i>
                </span>
                <input type="text" class="form-control" id="games-search" placeholder="" aria-label="Filter">
            </div>
        </div>

        <div id="games-not-found" class="d-none">
            {% include "includes/empty_state.twig" with icon="bi bi-search" text="No games found" %}
        </div>

        <div id="games" class="list-group list-group-hover mb-5">
            {% for game in games %}
                <div class="game list-group-item">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 text-center">
                            {% if game.CoverImageLink %}
                                <img src="{{ game.CoverImageLink }}" alt="Cover image" class="img-fluid d-block mt-1 mb-1">
                            {% else %}
                                <i class="bi bi-controller d-inline-block text-secondary mt-1" style="font-size: 3em" title="No cover image"></i>
                            {% endif %}
                        </div>
                        <div class="col-sm-7 col-md-9">
                            <div class="lead">
                                {% if netplay_enabled and game.NetplayEnabled and game.NetplaySessionId %}
                                    <i class="text-primary bi bi-globe" title="Netplay enabled"></i>
                                {% endif %}
                                {% if game.OverrideEmulatorSettings %}
                                    <i class="text-warning bi bi-cpu" title="Override emulation settings"></i>
                                {% endif %}
                                <a href="/play/{{ game.Id }}" class="game-name">{{ game.Name }}</a>
                            </div>
                            {% if game.Description %}
                                <div class="game=description text-secondary mt-2">
                                    {{ game.Description }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-sm-2 col-md-1 text-end text-nowrap">
                            {% include "includes/game_menu.twig" with game_menu_title=false game_menu_play=true delete_with_modal=true %}
                        </div>
                    </div>
                    <div>
                        <div class="game-tags mt-2">
                            <span class="badge border border-secondary text-body game-tag" role="button">{{ game.PlatformName }}</span>
                            {% for tag in game.Tags %}
                                <span class="badge border border-secondary text-body game-tag" role="button">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if user.Quota %}
            <div class="mb-5 text-end">
                <span class="badge border border-secondary p-2">
                    {% include "includes/quota_display.twig" with total=user.Quota used=user.GetQuotaUsed() %}
                </span>
            </div>
        {% endif %}

        {% for item in games_by_platform %}
            {% for game in item.Games %}
                <div class="modal" id="delete-{{ game.Id }}" tabindex="-1">
                    <div class="modal-dialog">
                        <form class="modal-content" method="post" action="/games/delete/{{ game.Id }}" enctype="application/x-www-form-urlencoded">
                            <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
                            <div class="modal-header">
                                <h5 class="modal-title">Delete game</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>Confirm deletion of game &quot;{{ game.Name }}&quot;</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            {% endfor %}
        {% endfor %}
    {% else %}
        <div class="text-center">
            <button id="btn-upload" type="button" class="btn btn-outline-success mt-3">
                <i class="bi bi-plus-circle"></i> Upload games
            </button>
        </div>
        {% include "includes/empty_state.twig" with icon="bi bi-controller" text="No games found" %}
    {% endif %}

    <form id="upload" action="/games/upload" method="post" enctype="multipart/form-data" class="d-none">
        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
        <input type="file" id="games" name="games" multiple>
    </form>

    <div id="drop-overlay" class="bg-body-tertiary d-none">
        <div class="drop-overlay-caption text-center">
            <i class="bi bi-download"></i>
            <p>Drop files to upload</p>
        </div>
    </div>

{% endblock %}
