{% extends "layouts/layout.twig" %}

{% block title %}
    {{ loc("game.emulation-settings.title") }} - {{ loc("brand") }}
{% endblock %}

{% block assets %}
    <script src="/assets/platform-settings-controls.js"></script>
    <script src="/assets/platform-settings-core.js"></script>
    <script src="/assets/ui-utils.js"></script>
{% endblock %}

{% block content %}

    <h1>{{ loc("game.emulation-settings.header") }}</h1>
    <h2>{{ game.Name }}</h2>
    <hr>

    <form action="/games/emulation-settings/{{ game.Id }}" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
        {% include "includes/form_platform_settings.twig" %}
        <hr>
        <div class="mb-3 text-end">
            <a href="/games/emulation-settings/{{ game.Id }}/restore" class="btn btn-outline-secondary">{{ loc("game.emulation-settings.restore") }}</a>
            <button type="submit" class="btn btn-primary">{{ loc("game.emulation-settings.submit") }}</button>
        </div>
    </form>

{% endblock %}
