{% extends "layouts/layout.twig" %}

{% block title %}
    {{ loc("game.emulation-settings-restore.title") }} - {{ loc("brand") }}
{% endblock %}

{% block content %}

    <h1>{{ loc("game.emulation-settings-restore.header") }}</h1>
    <h2>{{ game.Name }}</h2>
    <hr>

    <form action="/games/emulation-settings/{{ game.Id }}/restore" method="post" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
        <p>{{ loc("game.emulation-settings-restore.confirmation") }}</p>
        <hr>
        <div class="mb-3 text-end">
            <button type="submit" class="btn btn-primary">{{ loc("game.emulation-settings-restore.submit") }}</button>
        </div>
    </form>

{% endblock %}
