{% extends "layouts/layout.twig" %}

{% block title %}
    {{ loc("game.edit.title") }} - {{ loc("brand") }}
{% endblock %}

{% block assets %}
    <script src="/assets/game-options.js"></script>
{% endblock %}

{% block content %}

    <h1>{{ loc("game.edit.header") }}</h1>
    <hr>

    <form method="post" action="/games/edit/{{ game.Id }}" enctype="multipart/form-data">
        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
        {% include "includes/form_game.twig" %}
    </form>

{% endblock %}
