{% extends "layouts/layout.twig" %}

{% block title %}
    {{ loc("games.title") }} - {{ loc("brand") }}
{% endblock %}

{% block assets %}
    <script src="/assets/games-upload.js"></script>
    <script src="/assets/games-search.js" type="module"></script>
{% endblock %}

{% block content %}
    <h1>{{ loc("games.header") }}</h1>
    <hr>

    {% if games %}
        <div class="mb-3 row">
            <div class="col-sm-12 col-md-3 col-lg-2 mb-2 mb-md-0">
                <div class="d-grid">
                    <button id="btn-upload" type="button" class="btn btn-outline-success">
                        <i class="bi bi-plus-circle"></i> {{ loc("games.upload") }}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 col-md-4 col-lg-5 mb-2 mb-md-0">
                <div class="input-group">
                <span class="input-group-text" title="{{ loc("games.tags.icon-title") }}">
                    <i class="bi bi-tag"></i>
                </span>
                    <select class="form-control d-none"
                            id="games-tags"
                            aria-label="{{ loc("games.tags.label") }}"
                            multiple
                            data-allow-clear="true"
                            data-badge-style="secondary">
                        {% for platform in platforms %}
                            <option value="{{ platform }}">{{ platform }}</option>
                        {% endfor %}
                        {% for tag in tags %}
                            <option value="{{ tag }}">{{ tag }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-sm-12 col-md-5 col-lg-5">
                <div class="input-group">
                <span class="input-group-text" title="{{ loc("games.search.icon-title") }}">
                    <i class="bi bi-search"></i>
                </span>
                    <input type="text"
                           class="form-control"
                           id="games-search"
                           placeholder=""
                           aria-label="{{ loc("games.search.label") }}">
                </div>
            </div>
        </div>

        <div id="games-not-found" class="d-none">
            {% include "includes/empty_state.twig" with icon="bi bi-search" text=loc("games.not-found") %}
        </div>

        <div id="games-container" class="list-group list-group-hover mb-5">
            {% for game in games %}
                <div class="game list-group-item">
                    {% if game.CoverImageLink %}
                        <div class="row">
                            <div class="col-sm-3">
                                <img src="{{ game.CoverImageLink }}"
                                     alt="{{ loc("games.cover-image.alt") }}"
                                     class="img-fluid d-block mt-1 mb-1">
                            </div>
                            <div class="col-sm-9">
                               {% include "includes/game_list_title.twig" %}
                               {% include "includes/game_list_description.twig" %}
                            </div>
                        </div>
                    {% else %}
                        <div>
                            {% include "includes/game_list_title.twig" %}
                            {% include "includes/game_list_description.twig" %}
                        </div>
                    {% endif %}
                    <div>
                        <div class="game-tags mt-2">
                            <span class="badge border border-secondary text-body game-tag" role="button">{{ game.PlatformName }}</span>
                            {% for tag in game.Tags %}
                                <span class="badge border border-secondary text-body game-tag" role="button">{{ tag }}</span>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% for game in games %}
            <div class="modal" id="delete-{{ game.Id }}" tabindex="-1">
                <div class="modal-dialog">
                    <form class="modal-content" method="post" action="/games/delete/{{ game.Id }}" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ loc("games.delete.header") }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ loc("games.delete.close.title") }}"></button>
                        </div>
                        <div class="modal-body">
                            <p>{{ loc("games.delete.confirmation", game.Name) }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ loc("games.delete.cancel") }}</button>
                            <button type="submit" class="btn btn-danger">{{ loc("games.delete.submit") }}</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center">
            <button id="btn-upload" type="button" class="btn btn-outline-success mt-3">
                <i class="bi bi-plus-circle"></i> {{ loc("games.upload-when-empty") }}
            </button>
        </div>
        {% include "includes/empty_state.twig" with icon="bi bi-controller" text=loc("games.empty") %}
    {% endif %}

    <form id="upload" action="/games/upload" method="post" enctype="multipart/form-data" class="d-none">
        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
        <input type="file" id="games" name="games" multiple>
    </form>

    <div id="drop-overlay" class="bg-body-tertiary d-none">
        <div class="drop-overlay-caption text-center">
            <i class="bi bi-download"></i>
            <p>{{ loc("games.upload-overlay") }}</p>
        </div>
    </div>

{% endblock %}
