{% extends "layouts/layout_play.twig" %}

{% block title %}
    {{ loc("play.title", game.Name) }} - {{ loc("brand") }}
{% endblock %}

{% block assets %}
    <link rel="stylesheet" href="/assets/css/play.css">
{% endblock %}

{% block content %}
    {% include "includes/header_decoration.twig" with cls="play" %}

    <div id="header" class="container-fluid">
        <div class="row mt-2">
            <div class="col-6">
                <a href="/games" class="btn btn-sm btn-outline-secondary ms-1" title="{{ loc("play.back.title") }}">
                    <i class="bi bi-chevron-left"></i>
                    <i class="bi bi-list-ul"></i>
                </a>
                <button type="button" id="btn-save-state" class="btn btn-sm btn-outline-secondary" title="{{ loc("play.save-state.title") }}">
                    <i class="bi bi-floppy"></i>
                </button>
                <button type="button" id="btn-load-state-latest" class="btn btn-sm btn-outline-secondary" title="{{ loc("play.load-latest-state.title") }}">
                    <i class="bi bi-upload"></i>
                </button>
                <button type="button" id="btn-load-state" class="btn btn-sm btn-outline-secondary" title="{{ loc("play.load-state.title") }}">
                    <i class="bi bi-folder2-open"></i>
                </button>
            </div>
            <div class="col-6 text-end">
                {% if netplay_enabled %}
                    <button type="button" class="btn btn-sm btn-outline-secondary" title="{{ loc("play.netplay.title") }}" data-bs-toggle="modal" data-bs-target="#modal-netplay">
                        <i class="bi bi-globe"></i>
                    </button>
                {% endif %}
                <button type="button" id="btn-control-scheme" class="btn btn-sm btn-outline-secondary" title="{{ loc("play.controls.title") }}" data-bs-toggle="modal" data-bs-target="#modal-control-scheme">
                    <i class="bi bi-controller"></i>
                </button>
                {% include "includes/game_menu.twig" with game_menu_title=true %}
            </div>
        </div>
    </div>

    <div id="container">
        <div id="game"></div>
    </div>

    <div id="notifications" class="toast-container position-fixed p-3"></div>

    <script>
        window.GameId = '{{ game.Id }}';
        window.LatestStateUrl = '{{ game.LatestSaveState.StateFileDownloadLink }}';
        window.ControlSchemeVariant = 'host';
        window._csrf = '{{ _csrf_token }}';

        window.EJS_pathtodata = '/assets/emulatorjs/';
        window.EJS_player = '#game';
        window.EJS_core = '{{ emulator_settings.Core }}';
        window.EJS_gameUrl = '{{ game.DownloadLink }}';
        window.EJS_gameName = '{{ game.Name }}';
        window.EJS_color = '{{ emulator_settings.ColorScheme }}';
        window.EJS_backgroundColor = '{% if emulator_settings.ColorBackground %}{{ emulator_settings.ColorBackground }}{% else %}#000{% endif %}';
        window.EJS_controlScheme = '{{ game.Platform }}';
        window.EJS_CacheLimit = {{ emulator_settings.CacheLimit }};
        window.EJS_language = '{{ settings.Language }}';
        window.EJS_volume = {{ emulator_settings.Volume }};
        window.EJS_startOnLoaded = true;
        window.EJS_fullscreenOnLoaded = {{ emulator_settings.StartFullScreen | lower }};
        window.EJS_disableLocalStorage = true;
        window.EJS_videoRotation = {{ emulator_settings.VideoRotation }};

        {% if emulator_debug %}
            window.EJS_DEBUG_XX = true;
        {% endif %}

        {% if bios.Url %}
            window.EJS_biosUrl = '{{ bios.Url }}';
        {% endif %}

        {% if emulator_settings.Threads %}
            window.EJS_threads = true;
        {% endif %}

        {% if emulator_settings.DisableBrowserDB %}
            window.EJS_disableDatabases = true;
        {% endif %}

        {% if not emulator_settings.CueEnabled %}
            window.EJS_disableCue = true;
        {% endif %}

        window.AutoSaveEnabled = {% if game.AutoSaveEnabled %}true{% else %}false{% endif %};
        window.AutoSaveInterval = {{ game.AutoSaveInterval }};

        {% if save_state.StateFileDownloadLink %}
            window.EJS_loadStateURL = '{{ save_state.StateFileDownloadLink }}';
        {% endif %}
    </script>

    {% include "includes/play_buttons.twig" %}
    {% include "includes/play_default_options.twig" %}
    {% include "includes/play_control_scheme.twig" %}
    {% include "includes/play_load_state.twig" %}

    <script src="/assets/emulatorjs/loader.js"></script>
    <script src="/assets/ui-utils.js"></script>
    <script src="/assets/play-states.js"></script>
    <script src="/assets/play-virtual-gamepad.js"></script>
    <script src="/assets/play-control-scheme.js"></script>

    {% if netplay_enabled %}
        <script>
            window.NetplayTurnServerUrl = '{{ netplay_turn_url }}';
            window.NetplayTurnServerUser = '{{ netplay_turn_user }}';
            window.NetplayTurnServerPassword = '{{ netplay_turn_password }}';
            window.NetplayDebug = {{ netplay_debug | lower }};
            window.NetplayGameId = '{{ game.Id }}';
            window.NetplaySessionId = '{{ game.NetplaySessionId }}';
        </script>
        <script src="/assets/netplay.js"></script>
        <script src="/assets/netplay-ui-host.js"></script>
        <script src="/assets/node_modules/awesome-qr/dist/awesome-qr.js"></script>
        {% include "includes/play_netplay.twig" %}
    {% endif %}
{% endblock %}
