<!doctype html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="/assets/favicon/site.webmanifest">

    <link rel="stylesheet" href="/assets/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/assets/style.css">
    <link rel="stylesheet" href="/assets/play.css">

    <script src="/assets/node_modules/@popperjs/core/dist/umd/popper.min.js"></script>
    <script src="/assets/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/state.js"></script>

    {% block assets %}{% endblock %}

    <title>Play {{ game.Name }} - playtime</title>
</head>
<body>

<div id="header" class="container-fluid">
    <div class="row mt-2">
        <div class="col-6">
            <a href="/games" class="btn btn-sm btn-outline-secondary" title="Back">
                <i class="bi bi-chevron-left"></i>
            </a>

            <button type="button" id="btn-save-state" class="btn btn-sm btn-outline-secondary ms-3" title="Save game state">
                <i class="bi bi-box-arrow-down"></i>
            </button>
            <button type="button" id="btn-load-state-latest" class="btn btn-sm btn-outline-secondary" title="Load latest game state">
                <i class="bi bi-box-arrow-up"></i>
            </button>
            <button type="button" id="btn-load-state" class="btn btn-sm btn-outline-secondary" title="Load game state">
                <i class="bi bi-folder2-open"></i>
            </button>
        </div>
        <div class="col-6 text-end">
            <button type="button" class="btn btn-sm btn-outline-secondary" title="Controls" data-bs-toggle="modal" data-bs-target="#modal-control-scheme">
                <i class="bi bi-controller"></i>
            </button>
            {% include "includes/game_menu.twig" with game_menu_title=true game_menu_play=false %}
        </div>
    </div>
</div>

<div id="container">
    <div id='game'></div>
</div>

<script>
    GameId = '{{ game.Id }}';
    LatestStateUrl = '{{ game.LatestSaveState.StateFileDownloadLink }}';

    // EJS_DEBUG_XX = true;
    EJS_pathtodata = '/assets/emulatorjs/';
    EJS_player = '#game';
    EJS_core = '{{ emulator_settings.Core }}';
    EJS_oldCores = {{ emulator_settings.OldCores | lower }};
    EJS_gameUrl = '{{ game.DownloadLink }}';
    EJS_gameName = '{{ game.Name }}';
    EJS_color = '{{ emulator_settings.ColorScheme }}';
    EJS_CacheLimit = {{ emulator_settings.CacheLimit }};
    EJS_language = '{{ settings.Language }}';
    EJS_volume = {{ emulator_settings.Volume }};
    EJS_startOnLoaded = true;

    {% if bios.Url %}
        EJS_biosUrl = '{{ bios.Url }}';
    {% endif %}

    {% if save_state.StateFileDownloadLink %}
        EJS_loadStateURL = '{{ save_state.StateFileDownloadLink }}';
    {% endif %}
</script>

{% include "includes/play_controls.twig" %}
{% include "includes/play_buttons.twig" %}
{% include "includes/play_default_options.twig" %}

<script src="/assets/emulatorjs/loader.js"></script>

{% include "includes/play_control_scheme.twig" %}
{% include "includes/play_load_state.twig" %}

</body>
</html>
