{% extends "layouts/layout.twig" %}

{% block title %}
    {{ loc("users.title") }} - {{ loc("brand") }}
{% endblock %}

{% block content %}

    <h1>{{ loc("users.header") }}</h1>
    <hr>

    {% if done %}
        <p class="alert alert-success">{{ loc("users.saved") }}</p>
    {% endif %}

    <p>
        <a href="/users/new" class="btn btn-outline-success">
            <i class="bi bi-plus-circle"></i> {{ loc("users.new") }}
        </a>
    </p>

    {% if users %}
        <ul class="list-group list-group-hover filter-container mb-3">
            {% for user_item in users %}
                <li class="list-group-item filter-element">
                    <div class="row">
                        {# Name #}
                        <div class="col-6 col-md-6 col-lg-8">
                            <div class="lead filter-field">
                                {% if user_item.Active %}
                                    <i class="bi bi-circle-fill text-success" title="{{ loc("users.active.title") }}"></i>
                                {% else %}
                                    <i class="bi bi-circle-fill text-secondary" title="{{ loc("users.inactive.title") }}"></i>
                                {% endif %}
                                {% if user_item.Admin %}
                                    <i class="bi bi-star text-info" title="{{ loc("users.admin.title") }}"></i>
                                {% endif %}
                                {{ user_item.Login }}
                            </div>
                        </div>

                        {# Quota #}
                        <div class="col-4 col-md-4 col-lg-3 text-center">
                            {% include "includes/quota_display.twig" with total=user_item.Quota used=quotas_used[user_item.Id] %}
                        </div>

                        {# Control #}
                        <div class="col-2 col-md-2 col-lg-1 text-end text-nowrap">
                            <div class="d-inline-block dropdown">
                                <button class="btn btn-sm btn-outline-secondary dropdown-toggle"
                                        type="button"
                                        id="user-menu-{{user_item.Id}}"
                                        data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="bi bi-three-dots"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="user-menu-{{user_item.Id}}">
                                    <li>
                                        <a class="dropdown-item" href="/users/edit/{{user_item.Id}}">{{ loc("users.menu.edit") }}</a>
                                    </li>
                                    {% if user_item.Id != user.Id %}
                                        <li>
                                            <button type="button"
                                                    class="dropdown-item"
                                                    data-bs-toggle="modal"
                                                    data-bs-target="#delete-{{user_item.Id}}">
                                                {{ loc("users.menu.delete") }}
                                            </button>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {% for user_item in users %}
            <div class="modal" id="delete-{{ user_item.Id }}" tabindex="-1">
                <div class="modal-dialog">
                    <form class="modal-content" method="post" action="/users/delete/{{ user_item.Id }}" enctype="application/x-www-form-urlencoded">
                        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
                        <div class="modal-header">
                            <h5 class="modal-title">{{ loc("users.delete.header") }}</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{{ loc("users.delete.close.title") }}"></button>
                        </div>
                        <div class="modal-body">
                            <p>{{ loc("users.delete.confirmation", user_item.Login) }}</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">{{ loc("users.delete.submit") }}</button>
                            <button type="submit" class="btn btn-danger">{{ loc("users.delete.cancel") }}</button>
                        </div>
                    </form>
                </div>
            </div>
        {% endfor %}
    {% else %}
        {% include "includes/empty_state.twig" with icon="bi bi-people" text=loc("users.empty") %}
    {% endif %}

{% endblock %}
