{% extends "layouts/layout.twig" %}

{% block title %}
    {{ loc("user.delete.title") }} - {{ loc("brand") }}
{% endblock %}

{% block content %}

    <h1>{{ loc("user.delete.header") }}</h1>
    <hr>

    <p class="lead">
        {{ loc( "user.delete.confirmation", user_control.Login) }}
    </p>
    <hr>

    <form method="post" action="/users/delete/{{ user_control.Id }}" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="_playtime_csrf" value="{{ _csrf_token }}">
        <div class="text-end mb-3">
            <button type="submit" class="btn btn-danger">{{ loc("user.delete.submit") }}</button>
        </div>
    </form>

{% endblock %}
