{% extends "layouts/layout.twig" %}

{% block title %}
    {{ loc("version.title")}} - {{ loc("brand") }}
{% endblock %}

{% block content %}
    <h1>{{ loc("version.header") }}</h1>

    <div class="mb-3 mt-3 text-center">
        <img class="img-fluid p-3 border rounded" src="/assets/img/playtime-logo-512.png" alt="{{ loc("version.logo.alt") }}">
    </div>

    <dl class="row">
        <dt class="col-sm-4">{{ loc("version.go") }}</dt>
        <dd class="col-sm-8">{{ build.GoVersion | default:"-" }}</dd>
    </dl>

    <h5>{{ loc("version.main-module") }}</h5>
    <dl class="row">
        <dt class="col-sm-4">{{ loc("version.main-module.path") }}</dt>
        <dd class="col-sm-8">{{ build.Main.Path | default:"-" }}</dd>

        <dt class="col-sm-4">{{ loc("version.main-module.version") }}</dt>
        <dd class="col-sm-8">{{ build.Main.Version | default:"-" }}</dd>

        <dt class="col-sm-4">{{ "version.main-module.checksum" }}</dt>
        <dd class="col-sm-8">{{ build.Main.Sum | default:"-" }}</dd>
    </dl>

    <h5>{{ loc("version.build-settings") }}</h5>
    <dl class="row">
        {% for setting in build.Settings %}
            <dt class="col-sm-4">{{ setting.Key }}</dt>
            <dd class="col-sm-8">{{ setting.Value | default:"-" }}</dd>
        {% endfor %}
    </dl>

    <h5>{{ loc("version.dependencies") }}</h5>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>{{ loc("version.dependencies.path") }}</th>
            <th>{{ loc("version.dependencies.version") }}</th>
            <th>{{ loc("version.dependencies.checksum") }}</th>
        </tr>
        </thead>
        <tbody>
        {% for module in build.Deps %}
            <tr>
                <td>{{ module.Path | default:"-" }}</td>
                <td>{{ module.Version | default:"-" }}</td>
                <td>{{ module.Sum | default:"-" }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
